{#
/**
 * @file tmx_map.html.twig
 * Default theme implementation to present TMX Map data.
 *
 * This template is used when viewing TMX Map pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_tmx_map()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('tmx_map') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
