{#
/**
 * @file tmx_def_properties.html.twig
 * Default theme implementation to present TMX Properties Definition data.
 *
 * This template is used when viewing TMX Properties Definition pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_tmx_def_properties()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('tmx_def_properties') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
