{#
/**
 * @file tmx_def_tileitem.html.twig
 * Default theme implementation to present TMX Tileitem Definition data.
 *
 * This template is used when viewing TMX Tileitem Definition pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_tmx_def_tileitem()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('tmx_def_tileitem') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
